{% comment %}
    {% if site.footer_fixed %}
    <footer class="fixed-bottom" role="contentinfo">
        <div class="container mt-0">
        &copy; Copyright {{ site.time | date: '%Y' }}
        {{ site.first_name }}
        {{ site.middle_name }}
        {{ site.last_name }}. {{ site.footer_text }}
        {% if site.impressum_path %}
            <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {% endif %}
        {% if site.last_updated %}
            Last updated: {{ 'now' | date: '%B %d, %Y' }}.
        {% endif %}
        </div>
    </footer>
    {% else %}
    <footer class="sticky-bottom mt-5" role="contentinfo">
        {% if site.newsletter.enabled %}
        {% include scripts/newsletter.liquid %}
        {% endif %}

        <div class="container">
        &copy; Copyright {{ site.time | date: '%Y' }}
        {{ site.first_name }}
        {{ site.middle_name }}
        {{ site.last_name }}. {{ site.footer_text }}
        {% if site.impressum_path %}
            <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {% endif %}
        {% if site.last_updated %}
            Last updated: {{ 'now' | date: '%B %d, %Y' }}.
        {% endif %}
        </div>
    </footer>
    {% endif %}
{% endcomment %}

<footer class="sticky-bottom" role="contentinfo">
  {% if page.layout == 'post' %}
    <div class="caption post-version">
      &copy; {{ site.time | date: '%Y' }} <a href="/">{{ site.first_name }} {{ site.last_name }}</a>

      {% if site.show_version %}
      <br>

      v{{ page.last_modified_at | date: '%y-%m-%d' }}

        {% if site.commit_viewer %}
          | <a href="{{ site.commit_viewer }}{{ page.last_commit.sha}}">{{ page.last_commit.sha | slice: 0, 7 }}</a>
        {% endif %}
      {% endif %}
    </div>
  {% endif %}
</footer>

{% comment %}
Generate SVG for FontAwesome
{% endcomment %}
{% fa_svg_generate %}
